In [1]:
 #Dependencies
import pandas as pd

In [2]:
# The path to our CSV file
file = "Data/2010_infant_mortality.csv"

# Read our Kickstarter data into pandas
df = pd.read_csv(file)
df

    Unnamed: 0                 State  State,Code  Deaths  Births  Death  Rate
0          NaN               Alabama           1     524   60050   8.73   NaN
1          NaN                Alaska           2      41   11471   3.57   NaN
2          NaN               Arizona           4     520   87477   5.94   NaN
3          NaN              Arkansas           5     279   38540   7.24   NaN
4          NaN            California           6    2417  510198   4.74   NaN
5          NaN              Colorado           8     392   66355   5.91   NaN
6          NaN           Connecticut           9     200   37708   5.30   NaN
7          NaN              Delaware          10      85   11364   7.48   NaN
8          NaN  District,of,Columbia          11      70    9165   7.64   NaN
9          NaN               Florida          12    1397  214590   6.51   NaN
10         NaN               Georgia          13     849  133947   6.34   NaN
11         NaN                Hawaii          15     118   18988   6.21   NaN
12         NaN                 Idaho          16     111   23198   4.78   NaN
13         NaN              Illinois          17    1130  165200   6.84   NaN
14         NaN               Indiana          18     640   83940   7.62   NaN
15         NaN                  Iowa          19     188   38719   4.86   NaN
16         NaN                Kansas          20     252   40649   6.20   NaN
17         NaN              Kentucky          21     380   55784   6.81   NaN
18         NaN             Louisiana          22     471   62379   7.55   NaN
19         NaN                 Maine          23      70   12970   5.40   NaN
20         NaN              Maryland          24     504   73801   6.83   NaN
21         NaN         Massachusetts          25     320   72865   4.39   NaN
22         NaN              Michigan          26     816  114531   7.12   NaN
23         NaN             Minnesota          27     312   68610   4.55   NaN
24         NaN           Mississippi          28     385   40036   9.62   NaN
25         NaN              Missouri          29     505   76759   6.58   NaN
26         NaN               Montana          30      72   12060   5.97   NaN
27         NaN              Nebraska          31     136   25918   5.25   NaN
28         NaN                Nevada          32     198   35934   5.51   NaN
29         NaN         New,Hampshire          33      50   12874   3.88   NaN
30         NaN            New,Jersey          34     513  106922   4.80   NaN
31         NaN            New,Mexico          35     156   27850   5.60   NaN
32         NaN              New,York          36    1242  244375   5.08   NaN
33         NaN        North,Carolina          37     867  122350   7.09   NaN
34         NaN          North,Dakota          38      62    9104   6.81   NaN
35         NaN                  Ohio          39    1074  139128   7.72   NaN
36         NaN              Oklahoma          40     399   53238   7.49   NaN
37         NaN                Oregon          41     226   45540   4.96   NaN
38         NaN          Pennsylvania          42    1036  143321   7.23   NaN
39         NaN          Rhode,Island          44      80   11177   7.16   NaN
40         NaN        South,Carolina          45     428   58342   7.34   NaN
41         NaN          South,Dakota          46      84   11811   7.11   NaN
42         NaN             Tennessee          47     626   79495   7.87   NaN
43         NaN                 Texas          48    2373  386118   6.15   NaN
44         NaN                  Utah          49     254   52258   4.86   NaN
45         NaN               Vermont          50      26    6223   4.18   NaN
46         NaN              Virginia          51     703  103002   6.83   NaN
47         NaN            Washington          53     388   86539   4.48   NaN
48         NaN         West,Virginia          54     150   20470   7.33   NaN
49         NaN             Wisconsin          55     400   68487   5.84   NaN
50         NaN               Wyoming          56      52    7556   6.88   NaN

In [ ]:
df.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors=‘raise’)
df